# Ignore the root helpers, and the private code
/bounce_git.py
/private/*

# Ignore VS Code stuff
**/.vscode/

# Python pre-compiled things
**/__pycache__/
*.py[cod]
*$py.class
**/pythonenv*/

# Visual Studio folders
**/.vs/
**/bin/
**/obj/

# Temp files
*~
**/.DS_Store/
**/debug.log
